<div id="main-content" class="container">
  <div>
    <h2>COM Mode Scanner & Web Socket Demo</h2>
    <h4>
      Connect Web Socket, place focus in the input field and start scanning.
    </h4>
    <h4>
      Scanned content will appear below without requiring focus.
    </h4>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label>Scanner Data:</label>
      {{ dataMessage }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="connect">WebSocket connection:</label>
          <button
            (click)="connect()"
            class="btn btn-default"
            type="button"
            [disabled]="connected"
          >
            Connect
          </button>
          <button
            (click)="disconnect()"
            class="btn btn-default"
            type="button"
            [disabled]="connected != true"
          >
            Disconnect
          </button>
          <button
            (click)="reconnectScanner()"
            class="btn btn-default"
            type="button"
            [disabled]="reConnectScannerDisabled"
          >
            Scanner Connect
          </button>
          <label>Scanner Status:</label>
          {{ scannerStatusMessage }}
        </div>
        <input />
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
