<div id="main-content" class="container">
  <div>
    <h2>COM Mode Scanner & Web Socket Demo</h2>
    <h4>
      Connect web socket, place focus in the input field and start scanning.
    </h4>
    <h4>
      Scanned content will appear below without requiring focus.
    </h4>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <label for="connect">WebSocket connection:</label>
      {{ socketStatus }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button
        (click)="connect()"
        class="btn btn-default"
        type="button"
        [disabled]="connected"
      >
        Connect
      </button>
      <button
        (click)="disconnect()"
        class="btn btn-default"
        type="button"
        [disabled]="connected != true"
      >
        Disconnect
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <label>Scanner Status:</label>
      {{ scannerStatusMessage }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button
        (click)="reconnectScanner()"
        class="btn btn-default"
        type="button"
        [disabled]="reConnectScannerDisabled"
      >
        Scanner Connect
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Scanner Data:</label>
      {{ dataMessage }}
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <label>Form Field:</label>
      <input />
    </div>
  </div>
</div>
<router-outlet></router-outlet>
