<mat-card fxFlex="30%" class="dashboard-card" [class.mat-elevation-z8]="true">
  <mat-card-header>
    <mat-card-title>
      Scanner Data
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" class="dashboard-card-content">
    <textarea readonly class="scan-data-area" matInput>{{
      (scannerState$ | async).dataMessage | xmlPrettify
    }}</textarea>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions align="start">
      <app-socket-state
        class="footer-left-align"
        [socketState]="socketState$ | async"
        (toggleState)="handleToggleSocketState($event)"
      ></app-socket-state>
      <div fxFlex></div>
      <app-scanner-state
        class="footer-right-align"
        [scannerState]="scannerState$ | async"
        [socketConnected]="(socketState$ | async).socketConnected"
        (connectScanner)="onConnectScanner()"
      ></app-scanner-state>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
