<mat-icon
  [ngClass]="{
    'more-button': true,
    'green-icon': scannerState.connected,
    'red-icon': !scannerState.connected,
    'amber-icon': scannerState.attemptingConnection
  }"
  >lens</mat-icon
>
<button
  mat-raised-button
  color="primary"
  [disabled]="
    scannerState.connected ||
    !socketConnected ||
    scannerState.attemptingConnection
  "
  (click)="handleConnectScanner()"
  matTooltip="Connect Scanner"
>
  <mat-icon svgIcon="barcode-scan" aria-hidden="false"></mat-icon>
</button>
